<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kheloindia.com.assessment">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="kheloindia.com.assessment.app.Fitness365App"
        android:allowBackup="false"
        android:icon="@drawable/dart_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dart_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSirMwdB4NIOHybdkl6KJmqDlkh5oIaQM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="kheloindia.com.assessment.service.GetLocationService"></service>
        <service
            android:name="kheloindia.com.assessment.service.OnClearFromRecentService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>


        <activity
            android:name="kheloindia.com.assessment.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="TimeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".KheloDashBoardActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.OptionsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.CreateProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.HMActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.LoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.TakeTestActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="kheloindia.com.assessment.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="kheloindia.com.assessment.HomeActivity"
            android:label="Welcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.TrainerHomeScreen"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.WebViewActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.TestActivity"
            android:label="Take Test"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.ShowSubTestActivity"
            android:label="Sub- Categories"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="kheloindia.com.assessment.ScanActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.TestStatusActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="kheloindia.com.assessment.TestStatusReportActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="kheloindia.com.assessment.DistanceActivity"
            android:label="Distance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.WeightActivity"
            android:label="Weight"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.HeightActivity"
            android:label="Height"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.FixedScoreActivity"
            android:label="Fixed Score"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.BalanceActivity"
            android:label="Balance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.DashBoardActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.DashBoardStudentActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.ProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.AttendanceProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.ProfileStudentActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.ViewAttendanceActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.MyLogBoardActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.DartBoardActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.ShowSubScreenActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.MakeDartActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.ActiveConnectActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.MapActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.SchoolActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.AttendanceSchoolActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.AttendanceOfficeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.AttendanceGeofencingActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.FingerprintActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.LogActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.OpenScreenUrlActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.ShowSubOfSubScreenActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="kheloindia.com.assessment.TopSportsUpdateActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.YoutubeVideoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="kheloindia.com.assessment.SelectLanguageActivty"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <meta-data
            android:name="com.google.android.gms.versiom"
            android:value="@integer/google_play_services_version" />

        <!--<meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f16663f03b89d83594de3ed384a94dbcd16077cf" />


        <receiver android:name="kheloindia.com.assessment.receiver.AutoSyncReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="kheloindia.com.assessment.receiver.UpdateLocationReceiver">
            <intent-filter>
                <!--   <action android:name="com.android.techtrainner" />-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service android:name="kheloindia.com.assessment.service.LocationService" />


        <activity android:name=".WebViewPdf" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>